# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

lib/features/auth/utils

lib/features/resident/screens/chat
lib/features/resident/screens/dashboard
lib/features/resident/screens/notifications
lib/features/resident/screens/neighbors
lib/features/resident/screens/screens_export.dart

lib/features/resident/widgets/chat
lib/features/resident/widgets/dashboard
lib/features/resident/widgets/chat
lib/features/resident/widgets/widgets_export.dart
# lib/features/resident/config/resident_theme.dart
# lib/features/resident/config/resident_routes.dart
# lib/features/resident/config/resident_dependencies.dart



lib/shared
